*{
	margin:0;
}

body{
	font-family:  "Open Sans";
	background-image: url(https://source.unsplash.com/2JmTmVfK3zE/1600x900);
	background-position: cover;
}

h1{
	font-family: "Abril Fatface";
	font-weight: bold;
	letter-spacing: 100;
	font-size: 8em;
	color: black;
	letter-spacing: 5px;
}

.label{
	text-transform: uppercase;
	font-weight: lighter: ;
	font-size: 1em;
	color: white;
	letter-spacing: 2px;
	color: #CCC;
}

.container{
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card{
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	height:auto;
	padding:2em 0;
	width:400px;
}

