*{
	margin:0;
}


body{
	font-family:  "Open Sans";
	color: #405367;
}


h1{
	font-weight: bold;
	font-size: 8em;
}

.label{
	text-transform: uppercase;
	font-weight: lighter: ;
	font-size: 1em;
}

.container{
	display: flex;
	height: 90vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


